canvas{
  border:4px solid;
  margin-left: auto;
  margin-right: auto;

  width:900px;
  height:506px;
  display: block;
}

p{
  font-size:20px;
  text-align: justify;
  width: 900px;
  text-indent:50px;

  margin-left: auto;
  margin-right: auto;

  font-family: 'Courier New', monospace;
}

h1{
  font-size:40px;
  text-align: justify;
  width: 900px;

  margin-left: auto;
  margin-right: auto;

  font-family: 'Courier New', monospace;
}

h2{
  font-size:30px;
  text-align: justify;
  width: 700px;

  margin-left: auto;
  margin-right: auto;

  font-family: 'Courier New', monospace;
}

#tut{
  width:600px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
